h1,
h3,
h5 {
    margin: 0;
}

.col {
    padding: 10px;
    float: left;
}

.col .feature-item {
    height: 100px;
}

.col-12 {
    width: calc((100%) - 20px);
}

.col-11 {
    width: calc((100% * 11/12) - 20px);
}

.col-10 {
    width: calc((100% * 10/12) - 20px);
}

.col-9 {
    width: calc((100% * 9/12) - 20px);
}

.col-8 {
    width: calc((100% * 8/12) - 20px);
}

.col-7 {
    width: calc((100% * 7/12) - 20px);
}

.col-6 {
    width: calc((100% * 6/12) - 20px);
}

.col-5 {
    width: calc((100% * 5/12) - 20px);
}

.col-4 {
    width: calc((100% * 4/12) - 20px);
}

.col-3 {
    width: calc((100% * 3/12) - 20px);
}

.col-2 {
    width: calc((100% * 2/12) - 20px);
}

a {
    text-decoration: none;
    transition: 0.3s;
}

.logo a:hover {
    color: white;
    text-shadow: 3px 3px 2px black;
}

nav li a {
    opacity: 50%;
}

nav li a.active {
    opacity: 100%;
}

nav li a:hover {
    opacity: 100%;
    font-weight: bold;
    background: linear-gradient(360deg, #FDAE8F -20.89%, #FD1C68 132.87%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

nav {
    display: flex;
}

ul {
    display: flex;
    justify-content: center;
    margin-right: 1em;
    text-transform: uppercase;
}

ul li {
    list-style: none;
    padding: 8px;
}

.sign {
    display: flex;
    align-content: center;
    padding: 1em;
}

.btn {
    border-radius: 0.75em;
    margin-left: 2em;
    text-transform: uppercase;
    color: white;
    background: black;
    padding: 0.6em 2em;
    width: max-content;
}

.sign .btn {
    border-radius: 0.75em;
    margin-left: 2em;
    text-transform: uppercase;
    color: white;
    background: black;
    padding-inline: 2em;
}

.btn-hvr {
    transition: 0.3s;
}

.btn-hvr:hover {
    font-weight: bold;
    outline: 2px solid blue;
}

.container {
    width: 1260px;
    margin-inline: auto;
}

.container::after {
    content: " ";
    clear: both;
    display: block;
}

body {
    background-color: rgb(205, 211, 234);
    font-family: sans-serif;
    margin-top: 0;
}

section {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    width: inherit;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.logo {
    font-weight: bolder;
    font-size: xx-large;
    font-style: italic;
    font-family: fantasy;
    color: black;
    margin-left: 2em;
}

.logo a {
    color: black;
}

.playstore {
    display: flex;
    position: absolute;
    top: 31em;
    left: 8em;
}

.play {
    border-radius: 16px;
    padding: 12px;
    background: linear-gradient(179.96deg, #000000 -20.89%, #000000 132.87%);
    transition-duration: 0.8s;
    cursor: pointer;
    margin-right: 16px;
    box-shadow: 3px 3px 5px 1px rgb(0 0 0 / 0.2);
}

.play img {
    width: 150px;
}

.play:hover {
    background: linear-gradient(179.96deg, #FDAE8F -20.89%, #FD1C68 132.87%);
}

.first-view {
    background: rgb(178, 177, 169);
    z-index: -1;
    height: 720px;
}

.hero-img {
    background-image: url('img/zi.png');
    filter: drop-shadow(10px 20px 0px rgb(178, 177, 169)) drop-shadow(20px 10px 0px rgb(0, 225, 255)) drop-shadow(15px 0px 0px rgb(254, 161, 47)) drop-shadow(-5px -1px 0px rgb(245, 54, 25)) drop-shadow(15px 0px 0px rgb(254, 226, 47)) drop-shadow(10px 5px 0px rgb(237, 255, 36));
    background-size: cover;
    width: 100%;
    height: 100%;
    transition: 0.8s;
}

.hero-img:hover {
    filter: drop-shadow(0px 0px 0px rgb(178, 177, 169)) drop-shadow(0px 0px 0px rgb(0, 225, 255)) drop-shadow(0px 0px 0px rgb(254, 161, 47)) drop-shadow(3px 1px 0px rgb(245, 54, 25)) drop-shadow(0px 0px 0px rgb(254, 226, 47));
    ;
}

#second-view {
    position: relative;
    text-transform: uppercase;
}

#second-view .container {
    background: rgb(254, 253, 251);
}

.thirdView {
    background-color: rgb(255, 143, 5);
    overflow: hidden;
    position: relative;
}

.second-view h1 {
    font-family: fantasy;
    padding-top: 2em;
    padding-left: 1em;
    padding-bottom: 1em;
    flex-wrap: wrap;
}

.products {
    display: flex;
    justify-content: start;
    padding-bottom: 5em;
    width: 80%;
    overflow-x: scroll;

    margin-inline: auto;
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
}

.products::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

.product {
    background-color: rgb(223, 220, 216);
    padding-bottom: 2em;
    font-weight: 300;
    margin-right: 1em;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.product:hover,
.product:focus,
.product:active {
    -webkit-transform: scale(1.1) rotate(4deg);
    transform: scale(1.1) rotate(4deg);
}

.des-prod {
    padding-left: 0.25em;
}

.product h3 {
    padding-top: 0.7em
}

.img-prod {
    height: 19em;
    width: 20em;
    object-fit: cover;
    opacity: 50%;
    transition: 0.8s;
    filter: brightness(0.5) hue-rotate(45deg);
}

.img-prod:hover {
    opacity: 100%;
    filter: brightness(1) hue-rotate(0deg) drop-shadow(2px 4px 6px black);
}

.arrow {
    width: 1em;
    height: 1em;
    padding-right: 1em;
    align-self: center;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.suptitle {
    text-transform: uppercase;
    font-weight: 900;
    font-size: xxx-large;
    position: absolute;
    font-family: family;
    top: 3em;
    left: 2em;
}

.suptitle .herotext:nth-child(odd) {
    background-color: white;
    transform: rotate(355deg);
    margin: -5px 0 0 0;
}

.suptitle .herotext:nth-child(3) {
    background-color: orange;
    transition: 0.3s;
}

.suptitle .herotext:nth-child(odd):hover {
    transform: rotate(360deg);
    margin: -5px 0 0 0;
}

.blue {
    height: 12em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blue img {
    width: 12em;
    padding: 1em;
    object-fit: cover;
    mix-blend-mode: color-burn;
    transition: 0.8s;
    overflow: hidden;
}

.blue img:hover {
    height: 100px;
    width: 100px;
    background: #A9ADB3;
    mask-type: luminance;
    -webkit-mask-image: url(/img/Rox Streetwear Logo.png);
    mask-image: url(/img/Rox Streetwear Logo.png);
    mix-blend-mode: exclusion;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}

.blue:nth-child(even) {
    background: rgb(26, 193, 157);
}

.blue:nth-child(odd) {
    background: rgb(193, 57, 26);
}

.herokun {
    margin-bottom: -5px;
    filter: grayscale(0) drop-shadow(10px 20px 0px rgb(178, 177, 169)) drop-shadow(20px 10px 0px rgb(0, 225, 255)) drop-shadow(15px 0px 0px rgb(254, 161, 47)) drop-shadow(-15px 0px 0px rgb(254, 226, 47));
    transition: 0.8s;
}

.herokun:hover {
    filter: grayscale(1) drop-shadow(-10px 20px 0px #531a65) drop-shadow(-20px 10px 0px #322e33) drop-shadow(-5px 0px 0px rgb(254, 161, 47)) drop-shadow(5px 0px 0px rgb(254, 226, 47));
}

.white {
    background-color: rgb(255, 255, 255);
    display: flex;
    padding-top: 3em;
}

.big {
    text-transform: uppercase;
    font-weight: 900;
    font-size: xxx-large;
    font-family: inherit;
    -webkit-text-stroke: thick;
    margin-bottom: 0.4em;
}

.bold {
    font-weight: 900;
}

.col-6 img {
    width: 100%;
    object-fit: cover;
}

.recline {
    transform: skewY(357deg);
    background-color: rgb(255, 255, 255);
    height: 100%;
    width: 80%;
    right: 1.9em;
    position: absolute;
}

.cta-txt:first-child {
    position: relative;
}

.cta {
    position: absolute;
    top: 16em;
    right: 8em;
}

.cta-txt {
    display: flex;
    flex-flow: column;
}

.cta2 {
    margin-inline: auto;
    width: 60%;
}

.footnav {
    display: flex;
    flex-flow: column;
}

.footnav li {
    text-transform: capitalize;
}

h1,
h3,
h5 {
    margin: 0;
}

.description {
    text-align: center;
    padding: 2em 5em;
}

@-webkit-keyframes manripple img {
    100% {
        top: -12px;
        right: -12px;
        bottom: -12px;
        left: -12px;
        opacity: 0;
    }
}

@keyframes manripple img {
    100% {
        top: -12px;
        right: -12px;
        bottom: -12px;
        left: -12px;
        opacity: 0;
    }
}

.manripple {
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.manripple:before {
    content: '';
    position: absolute;
    border: #e1e1e1 solid 6px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

.manripple img:hover:before,
.manripple img:focus:before,
.manripple img:active:before {
    -webkit-animation-name: manripple img;
    animation-name: manripple img;
}