h1,
h3,
h5 {
    margin: 0;
}

.col {
    padding: 10px;
    float: left;
}

.col .feature-item {
    height: 100px;
}

.col-12 {
    width: calc((100%) - 20px);
}

.col-11 {
    width: calc((100% * 11/12) - 20px);
}

.col-10 {
    width: calc((100% * 10/12) - 20px);
}

.col-9 {
    width: calc((100% * 9/12) - 20px);
}

.col-8 {
    width: calc((100% * 8/12) - 20px);
}

.col-7 {
    width: calc((100% * 7/12) - 20px);
}

.col-6 {
    width: calc((100% * 6/12) - 20px);
}

.col-5 {
    width: calc((100% * 5/12) - 20px);
}

.col-4 {
    width: calc((100% * 4/12) - 20px);
}

.col-3 {
    width: calc((100% * 3/12) - 20px);
}

.col-2 {
    width: calc((100% * 2/12) - 20px);
}

a {
    text-decoration: none;
    transition: 0.3s;
}

.logo a:hover {
    color: white;
    text-shadow: 3px 3px 2px black;
}

nav li a {
    opacity: 50%;
}

nav li a.active {
    opacity: 100%;
}

nav li a:hover {
    opacity: 100%;
    font-weight: bold;
    background: linear-gradient(360deg, #FDAE8F -20.89%, #FD1C68 132.87%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

nav {
    display: flex;
}

ul {
    display: flex;
    justify-content: center;
    margin-right: 1em;
    text-transform: uppercase;
}

ul li {
    list-style: none;
    padding: 8px;
}

.sign {
    display: flex;
    align-content: center;
    padding: 1em;
}

.btn {
    border-radius: 0.75em;
    margin-left: 2em;
    text-transform: uppercase;
    color: white;
    background: black;
    padding: 0.6em 2em;
    width: max-content;
}

.sign .btn {
    border-radius: 0.75em;
    margin-left: 2em;
    text-transform: uppercase;
    color: white;
    background: black;
    padding-inline: 2em;
}

.btn-hvr {
    transition: 0.3s;
}

.btn-hvr:hover {
    font-weight: bold;
    outline: 2px solid blue;
}

.container {
    width: 1260px;
    margin-inline: auto;
}

.container::after {
    content: " ";
    clear: both;
    display: block;
}

body {
    background-color: rgb(205, 211, 234);
    font-family: sans-serif;
    margin-top: 0;
}

section {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    width: inherit;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.logo {
    font-weight: bolder;
    font-size: xx-large;
    font-style: italic;
    font-family: fantasy;
    color: black;
    margin-left: 2em;
}

.logo a {
    color: black;
}

.playstore {
    display: flex;
    position: absolute;
    top: 31em;
    left: 8em;
}

.play {
    border-radius: 16px;
    padding: 12px;
    background: linear-gradient(179.96deg, #000000 -20.89%, #000000 132.87%);
    transition-duration: 0.8s;
    cursor: pointer;
    margin-right: 16px;
    box-shadow: 3px 3px 5px 1px rgb(0 0 0 / 0.2);
}

.play img {
    width: 150px;
}

.play:hover {
    background: linear-gradient(179.96deg, #FDAE8F -20.89%, #FD1C68 132.87%);
}

.first-view {
    background: rgb(178, 177, 169);
    z-index: -1;
    height: 720px;
}

.hero-img {
    background-image: url('img/zi.png');
    filter: drop-shadow(10px 20px 0px rgb(178, 177, 169)) drop-shadow(20px 10px 0px rgb(0, 225, 255)) drop-shadow(15px 0px 0px rgb(254, 161, 47)) drop-shadow(-5px -1px 0px rgb(245, 54, 25)) drop-shadow(15px 0px 0px rgb(254, 226, 47)) drop-shadow(10px 5px 0px rgb(237, 255, 36));
    background-size: cover;
    width: 100%;
    height: 100%;
    transition: 0.8s;
}

.hero-img:hover {
    filter: drop-shadow(0px 0px 0px rgb(178, 177, 169)) drop-shadow(0px 0px 0px rgb(0, 225, 255)) drop-shadow(0px 0px 0px rgb(254, 161, 47)) drop-shadow(3px 1px 0px rgb(245, 54, 25)) drop-shadow(0px 0px 0px rgb(254, 226, 47));
    ;
}

#second-view {
    position: relative;
    text-transform: uppercase;
}

#second-view .container {
    background: rgb(254, 253, 251);
}

.thirdView {
    background-color: rgb(255, 143, 5);
    overflow: hidden;
    position: relative;
}

.second-view h1 {
    font-family: fantasy;
    padding-top: 2em;
    padding-left: 1em;
    padding-bottom: 1em;
    flex-wrap: wrap;
}

.products {
    display: flex;
    justify-content: start;
    padding-bottom: 5em;
    width: 80%;
    overflow-x: scroll;

    margin-inline: auto;
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
}

.products::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

.product {
    background-color: rgb(223, 220, 216);
    padding-bottom: 2em;
    font-weight: 300;
    margin-right: 1em;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.product:hover,
.product:focus,
.product:active {
    -webkit-transform: scale(1.1) rotate(4deg);
    transform: scale(1.1) rotate(4deg);
}

.des-prod {
    padding-left: 0.25em;
}

.product h3 {
    padding-top: 0.7em
}

.img-prod {
    height: 19em;
    width: 20em;
    object-fit: cover;
    opacity: 50%;
    transition: 0.8s;
    filter: brightness(0.5) hue-rotate(45deg);
}

.img-prod:hover {
    opacity: 100%;
    filter: brightness(1) hue-rotate(0deg) drop-shadow(2px 4px 6px black);
}

.arrow {
    width: 1em;
    height: 1em;
    padding-right: 1em;
    align-self: center;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.suptitle {
    text-transform: uppercase;
    font-weight: 900;
    font-size: xxx-large;
    position: absolute;
    font-family: family;
    top: 3em;
    left: 2em;
}

.suptitle .herotext:nth-child(odd) {
    background-color: white;
    transform: rotate(355deg);
    margin: -5px 0 0 0;
}

.suptitle .herotext:nth-child(3) {
    background-color: orange;
    transition: 0.3s;
}

.suptitle .herotext:nth-child(odd):hover {
    transform: rotate(360deg);
    margin: -5px 0 0 0;
}

.blue {
    height: 12em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blue img {
    width: 12em;
    padding: 1em;
    object-fit: cover;
    mix-blend-mode: color-burn;
    transition: 0.8s;
    overflow: hidden;
}

.blue img:hover {
    height: 100px;
    width: 100px;
    background: #A9ADB3;
    mask-type: luminance;
    -webkit-mask-image: url(/img/Rox Streetwear Logo.png);
    mask-image: url(/img/Rox Streetwear Logo.png);
    mix-blend-mode: exclusion;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}

.blue:nth-child(even) {
    background: rgb(26, 193, 157);
}

.blue:nth-child(odd) {
    background: rgb(193, 57, 26);
}

.herokun {
    margin-bottom: -5px;
    filter: grayscale(0) drop-shadow(10px 20px 0px rgb(178, 177, 169)) drop-shadow(20px 10px 0px rgb(0, 225, 255)) drop-shadow(15px 0px 0px rgb(254, 161, 47)) drop-shadow(-15px 0px 0px rgb(254, 226, 47));
    transition: 0.8s;
}

.herokun:hover {
    filter: grayscale(1) drop-shadow(-10px 20px 0px #531a65) drop-shadow(-20px 10px 0px #322e33) drop-shadow(-5px 0px 0px rgb(254, 161, 47)) drop-shadow(5px 0px 0px rgb(254, 226, 47));
}

.white {
    background-color: rgb(255, 255, 255);
    display: flex;
    padding-top: 3em;
}

.big {
    text-transform: uppercase;
    font-weight: 900;
    font-size: xxx-large;
    font-family: inherit;
    -webkit-text-stroke: thick;
    margin-bottom: 0.4em;
}

.bold {
    font-weight: 900;
}

.col-6 img {
    width: 100%;
    object-fit: cover;
}

.recline {
    transform: skewY(357deg);
    background-color: rgb(255, 255, 255);
    height: 100%;
    width: 80%;
    right: 1.9em;
    position: absolute;
}

.cta-txt:first-child {
    position: relative;
}

.cta {
    position: absolute;
    top: 16em;
    right: 8em;
}

.cta-txt {
    display: flex;
    flex-flow: column;
}

.cta2 {
    margin-inline: auto;
    width: 60%;
}

.footnav {
    display: flex;
    flex-flow: column;
}

.footnav li {
    text-transform: capitalize;
}

h1,
h3,
h5 {
    margin: 0;
}

.description {
    text-align: center;
    padding: 2em 5em;
}

@-webkit-keyframes manrippled {
    100% {
        top: -12px;
        right: -12px;
        bottom: -12px;
        left: -12px;
        transform:scale(1.2);
        opacity: 0;
    }
}

@keyframes manrippled {
    100% {
        top: -12px;
        right: -12px;
        bottom: -12px;
        left: -12px;
        transform:scale(1.2);
        opacity: 0;
    }
}
.desc-container {
    display: flex; 
    justify-content: space-between; 
    margin-top: 18px
}
.man {
    position: relative;
}
.man img {
    filter: contrast(0.5);
}
.man:before {
    content: '';
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: absolute;
    width: 100%;
    height: 100%;
    top: -6px;
    left: -6px;
    z-index: 100;
    border: purple solid 6px;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

.man:hover:before,
.man:focus:before,
.man:active:before {
    -webkit-animation-name: manrippled;
    animation-name: manrippled;
}
.man:hover img {
    filter: contrast(1);
}
#download {
    position: relative;
    align-items: center;
}

#SignUpNow .container {
    overflow: hidden;
    justify-content: center;
    height: 350px;
    background: orange;
    position: relative;
}

#particle-canvas {
    width: 80%;
    margin-inline: auto;
    height: 350px;
    position: absolute;
    z-index: 10;
    mix-blend-mode: multiply;

}

.medsosico {
    width: 3em;
    margin-right: 1em;
}


#download {
    position: relative;
    height: 40em;
}

.glitch-var {
	--color-text: #fff;
	--color-bg: #000;
	--color-link: #f9d77e;
	--color-link-hover: #fff;
	--color-info: #efc453;
	--glitch-width: 30em;
	--glitch-height: 40em;
	--gap-horizontal: 10px;
	--gap-vertical: 15px;
	--time-anim: 4s;
	--delay-anim: 2s;
	--blend-mode-1: none;
	--blend-mode-2: none;
	--blend-mode-3: none;
	--blend-mode-4: none;
	--blend-mode-5: overlay;
	--blend-color-1: transparent;
	--blend-color-2: transparent;
	--blend-color-3: transparent;
	--blend-color-4: transparent;
	--blend-color-5: #af4949;
}

.content__title,
.content__text {
	animation-name: glitch-anim-text;
	animation-duration: var(--time-anim);
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

/* Glitch styles */
.glitch {
	position: absolute;
	top: 7%;
	left: 50%;
	width: var(--glitch-width);
	height: var(--glitch-height);
	overflow: hidden;
}

.glitch__img {
	position: absolute;
	top: calc(-1 * var(--gap-vertical));
	left: calc(-1 * var(--gap-horizontal));
	width: calc(100% + var(--gap-horizontal) * 2);
	height: calc(100% + var(--gap-vertical) * 2);
	background: url(img/abe.webp) no-repeat 50% 0;
	background-color: var(--blend-color-1);
	background-size: cover;
	transform: translate3d(0,0,0);
	background-blend-mode: var(--blend-mode-1);
}

.glitch__img:nth-child(n+2) {
	opacity: 0;
}

.glitch__img:nth-child(n+2) {
	animation-duration: var(--time-anim);
	animation-delay: var(--delay-anim);
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}
.glitch__img:nth-child(2) {
	background-color: var(--blend-color-2);
	background-blend-mode: var(--blend-mode-2);
	animation-name: glitch-anim-1;
}

.glitch__img:nth-child(3) {
	background-color: var(--blend-color-3);
	background-blend-mode: var(--blend-mode-3);
	animation-name: glitch-anim-2;
}

.glitch__img:nth-child(4) {
	background-color: var(--blend-color-4);
	background-blend-mode: var(--blend-mode-4);
	animation-name: glitch-anim-3;
}

.glitch__img:nth-child(5) {
	background-color: var(--blend-color-5);
	background-blend-mode: var(--blend-mode-5);
	animation-name: glitch-anim-flash;
}

/* Animations */

@keyframes glitch-anim-1 {
	0% { 
		opacity: 1;
		transform: translate3d(var(--gap-horizontal),0,0);
		-webkit-clip-path: polygon(0 2%, 100% 2%, 100% 5%, 0 5%);
		clip-path: polygon(0 2%, 100% 2%, 100% 5%, 0 5%);
	}
	2% {
		-webkit-clip-path: polygon(0 15%, 100% 15%, 100% 15%, 0 15%);
		clip-path: polygon(0 15%, 100% 15%, 100% 15%, 0 15%);
	}
	4% {
		-webkit-clip-path: polygon(0 10%, 100% 10%, 100% 20%, 0 20%);
		clip-path: polygon(0 10%, 100% 10%, 100% 20%, 0 20%);
	}
	6% {
		-webkit-clip-path: polygon(0 1%, 100% 1%, 100% 2%, 0 2%);
		clip-path: polygon(0 1%, 100% 1%, 100% 2%, 0 2%);
	}
	8% {
		-webkit-clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
		clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
	}
	10% {
		-webkit-clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
		clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
	}
	12% {
		-webkit-clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
		clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
	}
	14% {
		-webkit-clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
		clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
	}
	16% {
		-webkit-clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
		clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
	}
	18% {
		-webkit-clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
		clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
	}
	20% {
		-webkit-clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
		clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
	}
	21.9% {
		opacity: 1;
		transform: translate3d(var(--gap-horizontal),0,0);
	}
	22%, 100% {
		opacity: 0;
		transform: translate3d(0,0,0);
		-webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
		clip-path: polygon(0 0, 0 0, 0 0, 0 0);
	}
}

@keyframes glitch-anim-2 {
	0% { 
		opacity: 1;
		transform: translate3d(calc(-1 * var(--gap-horizontal)),0,0);
		-webkit-clip-path: polygon(0 25%, 100% 25%, 100% 30%, 0 30%);
		clip-path: polygon(0 25%, 100% 25%, 100% 30%, 0 30%);
	}
	3% {
		-webkit-clip-path: polygon(0 3%, 100% 3%, 100% 3%, 0 3%);
		clip-path: polygon(0 3%, 100% 3%, 100% 3%, 0 3%);
	}
	5% {
		-webkit-clip-path: polygon(0 5%, 100% 5%, 100% 20%, 0 20%);
		clip-path: polygon(0 5%, 100% 5%, 100% 20%, 0 20%);
	}
	7% {
		-webkit-clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
		clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
	}
	9% {
		-webkit-clip-path: polygon(0 40%, 100% 40%, 100% 40%, 0 40%);
		clip-path: polygon(0 40%, 100% 40%, 100% 40%, 0 40%);
	}
	11% {
		-webkit-clip-path: polygon(0 52%, 100% 52%, 100% 59%, 0 59%);
		clip-path: polygon(0 52%, 100% 52%, 100% 59%, 0 59%);
	}
	13% {
		-webkit-clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
		clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
	}
	15% {
		-webkit-clip-path: polygon(0 75%, 100% 75%, 100% 75%, 0 75%);
		clip-path: polygon(0 75%, 100% 75%, 100% 75%, 0 75%);
	}
	17% {
		-webkit-clip-path: polygon(0 65%, 100% 65%, 100% 40%, 0 40%);
		clip-path: polygon(0 65%, 100% 65%, 100% 40%, 0 40%);
	}
	19% {
		-webkit-clip-path: polygon(0 45%, 100% 45%, 100% 50%, 0 50%);
		clip-path: polygon(0 45%, 100% 45%, 100% 50%, 0 50%);
	}
	20% {
		-webkit-clip-path: polygon(0 14%, 100% 14%, 100% 33%, 0 33%);
		clip-path: polygon(0 14%, 100% 14%, 100% 33%, 0 33%);
	}
	21.9% {
		opacity: 1;
		transform: translate3d(calc(-1 * var(--gap-horizontal)),0,0);
	}
	22%, 100% {
		opacity: 0;
		transform: translate3d(0,0,0);
		-webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
		clip-path: polygon(0 0, 0 0, 0 0, 0 0);
	}
}

@keyframes glitch-anim-3 {
	0% { 
		opacity: 1;
		transform: translate3d(0, calc(-1 * var(--gap-vertical)), 0) scale3d(-1,-1,1);
		-webkit-clip-path: polygon(0 1%, 100% 1%, 100% 3%, 0 3%);
		clip-path: polygon(0 1%, 100% 1%, 100% 3%, 0 3%);
	}
	1.5% {
		-webkit-clip-path: polygon(0 10%, 100% 10%, 100% 9%, 0 9%);
		clip-path: polygon(0 10%, 100% 10%, 100% 9%, 0 9%);
	}
	2% {
		-webkit-clip-path: polygon(0 5%, 100% 5%, 100% 6%, 0 6%);
		clip-path: polygon(0 5%, 100% 5%, 100% 6%, 0 6%);
	}
	2.5% {
		-webkit-clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
		clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
	}
	3% {
		-webkit-clip-path: polygon(0 10%, 100% 10%, 100% 10%, 0 10%);
		clip-path: polygon(0 10%, 100% 10%, 100% 10%, 0 10%);
	}
	5% {
		-webkit-clip-path: polygon(0 30%, 100% 30%, 100% 25%, 0 25%);
		clip-path: polygon(0 30%, 100% 30%, 100% 25%, 0 25%);
	}
	5.5% {
		-webkit-clip-path: polygon(0 15%, 100% 15%, 100% 16%, 0 16%);
		clip-path: polygon(0 15%, 100% 15%, 100% 16%, 0 16%);
	}
	7% {
		-webkit-clip-path: polygon(0 40%, 100% 40%, 100% 39%, 0 39%);
		clip-path: polygon(0 40%, 100% 40%, 100% 39%, 0 39%);
	}
	8% {
		-webkit-clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
		clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
	}
	9% {
		-webkit-clip-path: polygon(0 60%, 100% 60%, 100% 55%, 0 55%);
		clip-path: polygon(0 60%, 100% 60%, 100% 55%, 0 55%);
	}
	10.5% {
		-webkit-clip-path: polygon(0 30%, 100% 30%, 100% 31%, 0 31%);
		clip-path: polygon(0 30%, 100% 30%, 100% 31%, 0 31%);
	}
	11% {
		-webkit-clip-path: polygon(0 70%, 100% 70%, 100% 69%, 0 69%);
		clip-path: polygon(0 70%, 100% 70%, 100% 69%, 0 69%);
	}
	13% {
		-webkit-clip-path: polygon(0 40%, 100% 40%, 100% 41%, 0 41%);
		clip-path: polygon(0 40%, 100% 40%, 100% 41%, 0 41%);
	}
	14% {
		-webkit-clip-path: polygon(0 80%, 100% 80%, 100% 75%, 0 75%);
		clip-path: polygon(0 80%, 100% 80%, 100% 75%, 0 75%);
	}
	14.5% {
		-webkit-clip-path: polygon(0 50%, 100% 50%, 100% 51%, 0 51%);
		clip-path: polygon(0 50%, 100% 50%, 100% 51%, 0 51%);
	}
	15% {
		-webkit-clip-path: polygon(0 90%, 100% 90%, 100% 90%, 0 90%);
		clip-path: polygon(0 90%, 100% 90%, 100% 90%, 0 90%);
	}
	16% {
		-webkit-clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
		clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
	}
	18% {
		-webkit-clip-path: polygon(0 100%, 100% 100%, 100% 99%, 0 99%);
		clip-path: polygon(0 100%, 100% 100%, 100% 99%, 0 99%);
	}
	20% {
		-webkit-clip-path: polygon(0 70%, 100% 70%, 100% 71%, 0 71%);
		clip-path: polygon(0 70%, 100% 70%, 100% 71%, 0 71%);
	}
	21.9% {
		opacity: 1;
		transform: translate3d(0, calc(-1 * var(--gap-vertical)), 0) scale3d(-1,-1,1);
	}
	22%, 100% {
		opacity: 0;
		transform: translate3d(0,0,0);
		-webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
		clip-path: polygon(0 0, 0 0, 0 0, 0 0);
	}
}

@keyframes glitch-anim-text {
	0% { 
		transform: translate3d(calc(-1 * var(--gap-horizontal)),0,0) scale3d(-1,-1,1);
		-webkit-clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
		clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
	}
	2% {
		-webkit-clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
		clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
	}
	4% {
		-webkit-clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
		clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
	}
	5% {
		-webkit-clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
		clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
	}
	6% {
		-webkit-clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
		clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
	}
	7% {
		-webkit-clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
		clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
	}
	8% {
		-webkit-clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
		clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
	}
	9% {
		-webkit-clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
		clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
	}
	9.9% {
		transform: translate3d(calc(-1 * var(--gap-horizontal)),0,0) scale3d(-1,-1,1);
	}
	10%, 100% {
		transform: translate3d(0,0,0) scale3d(1,1,1);
		-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
	}
}

/* Flash */
@keyframes glitch-anim-flash {
	0%, 5% { 
		opacity: 0.2; 
		transform: translate3d(var(--gap-horizontal), var(--gap-vertical), 0);
	}
	5.5%, 100% {
		opacity: 0;
		transform: translate3d(0, 0, 0);
	}
}

